<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
	  	<nav class="navbar navbar-inverse navbar-static-top">
	  	  <div class="container">
	  	    <!-- Brand and toggle get grouped for better mobile display -->
	  	    <div class="navbar-header">
	  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	  	        <span class="sr-only">Toggle navigation</span>
	  	        <span class="icon-bar"></span>
	  	        <span class="icon-bar"></span>
	  	        <span class="icon-bar"></span>
	  	      </button>
	          <div><%= link_to "Flowerover<strong>flow</strong>".html_safe,root_path,class: "navbar-brand"  %></div>
	  	    </div>

	  	    <!-- Collect the nav links, forms, and other content for toggling -->
	  	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  	      <ul class="nav navbar-nav navbar-right">
	  	      <div class="span3 offset9   btn-group">
	  	      <%= search_form_for @search do |f| %>
	  	          <%= f.text_field :title_cont, id: :search_box , class: "form-control" , placeholder: "Buscar pregunta" %>
	  	      <% end %>
	  	      </div>
	  	      	<% if !user_signed_in? %>
		  	        <li class="active"><%= link_to 'Registrarse',new_user_registration_path %></li>
		  	        <li><%= link_to 'Iniciar Sesión',new_user_session_path %></li>
			      </ul>
			        <% else %>
		  	      <ul class="nav navbar-nav">
		  	            <li><%= link_to 'Cerrar Sesión',destroy_user_session_path,method: :delete %></li>
		  	      </ul>
			  	<% end %>
			  	

	  	    </div><!-- /.navbar-collapse -->
	  	  </div><!-- /.container-fluid -->
	  	</nav>
	    <div class="alerts">
	      <% if flash[:notice] %>
	        <div class="alert alert-success">
	          <%= flash[:notice]%>
	        </div>
	      <% elsif flash[:alert] %>
	        <div class="alert alert-danger">
	          <%= flash[:alert] %>
	        </div>
	      <% end %>
	    </div>	
  <body>

    <%= yield %>
     <script>
      $(".alert").fadeIn(500).css("opacity","0.85").delay( 3000 ).slideUp( 1000 );
      $('.alerts').on('click','.alert',function(){ $(this).remove() });
    </script>
  </body>
</html>
